<h1>Welcome to GLOBAL POST</h1s>

  <form action="/logout" method="post">

    <button class="save-button" type="submit">Logout</button>

  </form>

  <Section class="explore_categories">

    <h3>Explore in GLOBALPOST</h3>

    <div class="block_categories">
      <div class="category_card">
        <h5>Categoty</h5>
        <p>lorem ipsum dolre eas</p>
      </div>

      <div class="category_card">
        <h5>Categoty</h5>
        <p>lorem ipsum dolre eas</p>
      </div>

      <div class="category_card">
        <h5>Categoty</h5>
        <p>lorem ipsum dolre eas</p>
      </div>

      <div class="category_card">
        <h5>Categoty</h5>
        <p>lorem ipsum dolre eas</p>
      </div>

      <div class="category_card">
        <h5>Categoty</h5>
        <p>lorem ipsum dolre eas</p>
      </div>

      <div class="category_card">
        <h5>Categoty</h5>
        <p>lorem ipsum dolre eas</p>
      </div>

      <div class="category_card">
        <h5>Categoty</h5>
        <p>lorem ipsum dolre eas</p>
      </div>

      <div class="category_card">
        <h5>Categoty</h5>
        <p>lorem ipsum dolre eas</p>
      </div>

      <div class="category_card">
        <h5>Categoty</h5>
        <p>lorem ipsum dolre eas</p>
      </div>
    </div>

  </Section>

  <Section class="explore_products">

    <h3>Explore Products</h3>

    <div class="block_products">

      <div class="product_card">
        {{#each allProducts}}
        <img src="{{this.imageUrl}}" alt="Image">
        <h3>{{this.title}}</h3>
        <p>{{this.smallDescription}}</p>
        <p>{{this.price}}€</p>
        <p>Posted by:<a href="/userpage">{{this.user.username}}</a></p>
        {{/each}}
      </div>

    </div>
    
  </Section>


  <br>