<header class="header-user">
  <h1>Welcome {{user.username}}!</h1>
</header>

<section class="User_card">
  <p><strong> Name: </strong>{{user.Name}} {{user.SecondName}}</p><br>
  <p><strong> About: </strong>{{user.bio}}</p><br>
  <p><strong> Email: </strong>{{user.Email}}</p>
  <p><strong> Number: </strong>{{user.Phone}}</p><br>
<div class="btn-card">
  <form action="/{{user.id}}/edit-profile" method="get">
    <button class="btn-logout">Edit profile</button>
  </form>
  <div class="Button-small"><a href="/new/product">New product</a></div>
 </div> 
</section>

<Section class="explore_products">
  <h3>Your products</h3>

  <div class="block_products">
    {{#each myProducts}}
    <div class="product_card">
      <div class="img-box">
        <img src="{{this.imageUrl}}" alt="Image">
      </div>
      <div class="text">
        <h4>{{this.title}}</h4>
        <p>Price: {{this.price}}</p>
        <p>{{this.smallDescription}}</p>
        <p>{{this.description}}</p>
      </div>
      <div class="btn-card">
        <form action="/{{this._id}}/delete" method="post">
          <button>DELETE</button>
        </form>
        <form action="/{{this._id}}/edit" method="get">
          <button>EDIT</button>
        </form>
      </div>
    </div>
    {{/each}}

  </div>
</Section>