<div class="goback"><a href="/" class="goback">Go back to the list</a></div>

<section class="form-container-sell">

<section class="see_product">
 <div>
        <img src="{{product.imageUrl}}" alt="Image">
     
      <div class="text">
        <h4>{{product.title}}</h4>
        <p>Price: {{product.price}}</p>
        <p>{{product.smallDescription}}</p>
        <p>{{product.description}}</p>
      </div>
<input type="hidden" id="myLatitude" type="number" value="{{product.location.coordinates.[1]}}">
<input type="hidden" id="myLongitude" type="number" value="{{product.location.coordinates.[0]}}">
<div id="map"></div>
 </div>
</section>

<section class="see_seller">
  <h3>{{product.user.username}}</h3>
  <p>Name: {{product.user.Name}} {{product.user.SecondName}}</p><br>
  <p>About:{{product.user.bio}}</p><br>
  <p>Email:{{product.user.Email}}</p>
  <p>Phone Number:{{product.user.Phone}}</p><br>

  </form>

  <form action="/send-email" method="post">
    
    
    <input type="hidden" name="email" id="" value="{{product.user.Email}}" >
    <label for="">Subject</label>
    <input type="text" name="subject" id=""><br>
    <label for="">Message</label>
    <textarea type="text" name="message" id=""></textarea>
    <button type="submit">Submit</button>
  </form>

</section>
</section>

<script>
  const centerLoc = {
    lat: Number(document.getElementById('myLatitude').value),
    lng: Number(document.getElementById('myLongitude').value)
  };
  const map = new google.maps.Map(document.getElementById('map'), {
    zoom: 13,
    center: centerLoc
  });
  const pin = new google.maps.Marker({
    position: centerLoc,
    map: map,
    title: "Some name here in the future"
  });
</script>

